.blog-details {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #141624;
  height: 100%;
  color: #fff;
}
h2{
  text-align: left ;
}


.post-metrics{
  display: flex;
  align-items: center;
  gap:0.3rem;
  margin-bottom: 10px;
  img{
    border-radius: 20px;
  }
  p{
    margin-bottom: 0.1rem;
    color: #4b5563;
    font-weight: 600;
  }
}

img{
  border-radius: 1.25rem;
}


.blog-title {
  font-size: 2rem;
  margin-bottom: 10px;
  
}

.blog-content {
  margin-bottom: 20px;
  margin-top: 20px;
}

.likes {
  margin-bottom: 10px;
}

.likes button {
  background-color:#5a67d8 ;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.likes button:hover {
  background-color: #4c55a9;
}

.comment-form{
  display: flex;
  flex-direction: row;
  gap: 10px;
  input{
    padding: 7px;
    border-radius: 5px;

    width: 100%;
  }
  button{
    background-color:#5a67d8 ;
  }
  button:hover {
    background-color: #4c55a9;
  }
}

.comment-form-title {
  margin-bottom: 5px;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-list li {

  background-color: #4b5563;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  margin-top: 5px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
  width: 100px;
}

.remove-btn:hover {
  background-color: #c82333;
  cursor: pointer;
}
