.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #141624;
  color: #fff;
  padding: 10px 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar h2 {
  font-size: 24px;
}

.navbar a {
  color: #fff;
  text-emphasis: none;
 text-decoration-line: none;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  
}



.navbar p {
  margin: 0;
  margin-left: 20px;
}

.navbar button {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}


.login {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: auto;
  align-items: baseline;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 70px;
  font-size: 20px;
  color: #479beb;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 5px;
  padding: 2px;
  gap: 10px;
  a:hover{
    text-decoration: underline;
  }
}

#createBlog {
  background-color: transparent;
  color: #fff;
  text-emphasis: none;
 text-decoration-line: none;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

#createBlog:hover {
  text-decoration: underline;
}


.HomeLink{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
 padding-bottom: 0.5rem;
 margin-top:0.5;
}
.HomeLink:hover {
 background-color: #1a202c;
}

.custom-link {
  display: inline-block;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  background-color: white;
}

.custom-link:hover {
  background-color: #4a4a4a;
  text-decoration: none;
}

.bracket, .arrow {
  font-size: 1.5rem;
}

.parentheses {
  font-size: 1.25rem;
}

.text-yellow-400 {
  color: #f59e0b;
}

.text-dark-primary {
  color: #5a67d8; 
}

.text-white {
  color: #ffffff;
}
