.notification {
  color: #fff;
  background-color: lightgrey;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: fixed;
  z-index: 1000;
  width: fit-content;
  margin: 0 auto;
  
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.notification.success {
  color: white;
  background-color: #15803d;
}

.notification.error {
  color: white;
  background-color: #b83838;
}
